.DS_Store
build/
local/
examples/sample_run/outputs/
examples/sample_run/Cst1800
examples/sample_run/logfile1
examples/sample_run/logfile2
examples/sample_run/logfile3
examples/sample_run/Mst1800
examples/sample_run/Nst1800
examples/sample_run/Pst1800
examples/sample_run/Qst1800
examples/sample_run/Rst1800
examples/sample_run/Wst1800
